.ui.form .error ::-webkit-input-placeholder {
  color: @inputErrorPlaceholderColor;
}
.ui.form .error :-ms-input-placeholder,
.ui.form .error :-ms-input-placeholder2 {
  color: @inputErrorPlaceholderColor !important;
}
.ui.form .error ::-moz-placeholder {
  color: @inputErrorPlaceholderColor;
}

.ui.form .error :focus ::-webkit-input-placeholder {
  color: @inputErrorPlaceholderFocusColor;
}
